* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 249, 250);
}

.Nav {
    background-color: rgb(92, 121, 185);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.Nav h1{
    font-family:sans-serif;
    color: rgb(255, 255, 254);
}
.Nav div{
    display: flex;
    gap: 25px;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px 0;
    color: #fff;
}

.card {
    background-color: rgb(14, 16, 19);
    height: 370px;
    width: 250px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    border-radius: 15px;
    margin: 15px 0;
}
img{
    height: 250px;
    object-fit:cover;
    border-radius: 15px;
}

.card p{
   text-align: center;
    color: #fff;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    opacity: 0.7;
    letter-spacing: 1px;
}

.footer{
    background-color: rgb(92, 121, 185);
    padding: 90px;
    text-align: center;
    color: #fff;
    letter-spacing: 1.5px;
}

