*{
  background-color: black;
  color: white;
  text-align: center;
}

h1{
  color: aqua;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;

}

p{
   font-weight: bold;
  font-size: 30px;
}