body{
  background-color: black;
  color: white;
}

.card{
  background-color: palevioletred;
  height: 250px;
  width: 200px;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}